name: "Setup JFrog CLI OIDC Example2"
on: push

permissions:
  # This is required for requesting the OIDC token
  id-token: write
  # This is required for actions/checkout
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          # JFrog platform url (for example: https://acme.jfrog.io)
          JF_URL: https://elinaf.jfrog.io
        with:
          # Name of the OIDC provider as specified on the OIDC integration page in the JFrog Platform
          oidc-provider-name: roin-oidc

      - name: Docker login to Artifactory
        uses: docker/login-action@v3.3.0
        with:
          registry: elinaf.jfrog.io
          username: roin
          password: Password1!
      - name: docker pull
        run: docker pull elinaf.jfrog.io/roin-docker-remote/library/alpine
        shell: bash
